*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #95D7D6;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }

  .dayLabel{
    width: 200px;
  }

  .button{
    padding: 4px 10px;
    border: none;
    border-radius: 4px;
    height: 25px;
    width: 70px;
    cursor: pointer;
  }

  .button.add{
    background-color: #66BB6A;
  }
  .reset{
    background-color: #DC3E33;
  }
  .generate{
    background-color: #89C0ED;
    height: 50px;
    width: auto;
    font-size: 24px;
    text-wrap: nowrap;
    font-weight: 600;
    text-align: center;
    padding: 2px 8px;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 20px;
  }

  .SubjectSpace{
    display: flex;
    flex-direction: row;
  }

  #subjectSpace{
    background-image: url(/assets/lined-paper-background-16f0avgoxi7t0rc9.jpg);
    background-size: contain;
  }

  .wrapper{
    padding: 10px;
  }